/* .productCard:hover .icon {
  stroke: #000;
} */

.cartButton:focus {
  outline: transparent;
}

/* .cartButton:hover .icon,
.cartButton:focus .icon {
  stroke: #9eb315;
} */

/* .shoppingCartHover:focus + .cartButton .icon {
  stroke: #000;
} */
