.shoppingCartHover:hover + .cartButton .icon,
.shoppingCartHover:focus + .cartButton .icon {
  stroke: #000;
}
.shoppingCartHover:hover + .cartButton .iconActive,
.shoppingCartHover:focus + .cartButton .iconActive {
  stroke: #9eb315;
}

.cartButton:focus {
  outline: transparent;
}
