.swiper_tablet_wrapper .swiper {
  overflow: visible;
}

.swiper_tablet_wrapper .swiper-button-prev::after {
  content: '';
  width: 24px;
  height: 24px;
  padding: 5px;
  background-image: url('/image/chevron-right.svg');
  transition: background-image 250ms linear;
}
.swiper_tablet_wrapper .swiper-button-prev:hover::after {
  background-image: url('/image/chevron-right-hover.svg');
}

.swiper_tablet_wrapper .swiper-button-prev:focus::after {
  background-image: url('/image/chevron-right-focus.svg');
}

.swiper_tablet_wrapper .swiper-button-next::after {
  content: '';
  width: 24px;
  height: 24px;
  padding: 5px;
  background-image: url('/image/chevron-left.svg');
  transition: background-image 250ms linear;
}
.swiper_tablet_wrapper .swiper-button-next:hover::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url('/image/chevron-left-hover.svg');
}
.swiper_tablet_wrapper .swiper-button-next:focus::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url('/image/chevron-left-focus.svg');
}
.swiper-button-prev,
.swiper-button-next {
  bottom: -48px;
  top: auto;
  width: 24px;
  height: 24px;
}
.swiper-button-next {
  right: 304px;
}
.swiper-button-prev {
  left: 304px;
}

@media screen and (max-width: 767px) {
  .swiper_tablet_wrapper .mob_hidden {
    display: none;
  }
  .swiper-button-next {
    right: 120px;
  }
  .swiper-button-prev {
    left: 120px;
  }
}
@media screen and (min-width: 768px) {
  .swiper_tablet_wrapper .tab_hidden_elem {
    display: none;
  }
}
